<div class="row mb-5">
    <div class="col-8">
        <p class="h2 mb-3">Contatos</p>
        <form #f="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="contato.nome" required />
            </div>
            <div class="form-group">
                <label>SobreNome</label>
                <input type="text" id="sobreNome" name="sobreNome" class="form-control" [(ngModel)]="contato.sobreNome" required />
            </div>
            <div class="form-group">
                <label>CPF</label>
                <input type="text" id="cpf" name="cpf" class="form-control" [(ngModel)]="contato.cpf" mask="000.000.000-00" required />
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" id="email" name="email" class="form-control" [(ngModel)]="contato.email" required />
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid || loading">Salvar</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>SobreNome</th>
                        <th>CPF</th>
                        <th>E-mail</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-contato [ngForOf]="contatos">
                        <tr>
                            <td>{{ contato.id }}</td>
                            <td>{{ contato.nome }}</td>
                            <td>{{ contato.sobreNome }}</td>
                            <td>{{ contato.cpf }}</td>
                            <td>{{ contato.email }}</td>
                            <td>
                                <div class="btn-group-sm">
                                    <button type="button" (click)="buscar(contato)"
                                        class="btn btn-primary m-1" [disabled]="contato.btnDesabilitado">Buscar</button>

                                    <button type="button" (click)="buscarEnderecosPorIdContato(contato.id)"
                                        class="btn btn-secondary m-1">Endereços</button>

                                    <button type="button" (click)="excluir(contato.id)"
                                        class="btn btn-danger m-1">Excluir</button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <tr *ngIf="!contatos || contatos.length < 1">
                        <td class="tr-text-center" colspan="6">
                            <h5>Nenhum dado a ser exibido.</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
